{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <hr>

    <em>Category: {{ post.category }}</em>

    <hr>

    <img src="{{ '/uploads/' ~ post.image }}" alt="something">
{% endblock %}

